[% USE XOR %]

[% markdown %]

[% FOREACH md IN directory.children.grep('\.md$').sort.reverse %]
  [% SET html_filename = md.basename.replace('(\..*)?\.md$','.html') %]
  [% NEXT IF html_filename == 'index.html' %]
  <article>
    [% md.slurp_utf8 | summary(html_filename) | markdown %]
  </article>
[% END %]
