<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>[% title %]</title>
    <script type="text/javascript" src="[% shjs %]/sh_main.min.js"></script>
    <script type="text/javascript" src="[% shjs %]/lang/sh_perl.min.js"></script>
    <link type="text/css" rel="stylesheet" href="[% shjs %]/css/sh_acid.css">
    <link type="text/css" rel="stylesheet" href="/css/default.css">
  </head>
  <body onload="sh_highlightDocument();">
    <div class="nx-header-flag-1"></div>
    <div class="nx-header-flag-2"></div>
    [% IF h1 %]
      <div class="nx-header-title"><a href="/">🌻</a> [% h1 %]</div>
    [% ELSE %]
      <div class="nx-header-title"><a href="/">🌻</a> alienfile.org</div>
    [% END %]
    [% content %]
    <div class="nx-footer">
      <p>Copyright &copy; 2022 Graham Ollis</p>
    </div>
  </body>
</html>
