<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>[% title %]</title>
    <script type="text/javascript" src="[% shjs %]/sh_main.min.js"></script>
    <script type="text/javascript" src="[% shjs %]/lang/sh_perl.min.js"></script>
    <link type="text/css" rel="stylesheet" href="[% shjs %]/css/sh_acid.css">
    <style>
      pre {
        margin-left: 8px;
        margin-right: 8px;
        padding: 10px 5px;
      }
      pre.console {
        background-color: black;
        color: green;
      }
      pre.ini {
        background-color: #eeeeee;
        color: black;
      }
      code {
        background-color: #eeeeee;
      }
      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body onload="sh_highlightDocument();">
    [% content %]
    <hr>
    <p>Copyright &copy; 2018 Graham Ollis, Joel Berger et al.</p>
  </body>
</html>
